PROJECT_ID=<Your GCP Project ID>
LOCATION=<Your GCP Location, for example: us-central1>
STORAGE_BUCKET=<Your GCS Bucket starting with gs://>
GEMINI_ENTERPRISE_APP_ID=<Your Gemini Enterprise App ID>
AGENT_AUTHORIZATION=<Your Agent Authorization resource name>

# Optional
GOOGLE_GENAI_MODEL=gemini-2.5-flash
