ATLASSIAN_BASE_URL=https://upasanapati-1771922768188.atlassian.net
ATLASSIAN_EMAIL=upasanapati@gmail.com
ATLASSIAN_API_TOKEN=ATATT3xFfGF0BGTIbxWWtrB5oCMIy9_JCoSfCZRiuThfZLr-qPBoNujS1NlubQADVoAt5A3H4zXQ6E_LeMFEjz39Ey0fC4dzhLiHU5S1D9xahH8RIMqx1vqO-lBQ33eNyWTIncRSY9wo5fUz3twaE9sf_ZkRdBG8tBjtsBpVjG8zKvJ7NhnN51k=2DE86505
